body {
    margin: 0px;
}

#myCanvas {
    width: auto;
    display: block;
    //position: absolute; z-index: 1;
}

.container {
    /*margin: 0;*/
}

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  text-align: center;
}

#toolbar > p{
    padding-top: 15px;
    color: grey;
    font-size: 30px;
    
}

#toolbar > hr  {
    margin-top: 20px;
    border-color: #484747;
}

#shape {
    width: 80%;
}

#shape > label{
    align-self: left;
    text-align: left;
    margin-top: 1px;
}

#shape > label > span {
    margin-right: 10px;
}

.colorcontrol {
    width: 80%;
    text-align: left;
    align-content: right;
    height: 38px;
}

/*#colorP {
    height:10px;
    width: 80%;
    text-align: right;
    align-content: right;
}*/

#colorPicker {
    width: 80px;
    height: 25px; 
    margin: 0px 0px 0px 0px;
    
}