body {
    margin: 0px;
}

#myCanvas {
    width: auto;
    display: block;
    //position: absolute; z-index: 1;
}

.container {
    margin: 0;
}

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  text-align: center;
}

#toolbar > h1{
    padding-top: 15px;
    color: grey;
    font-size: 30px;
}

#toolbar > hr  {
    margin-top: 20px;
    border-color: #484747;
}

#shape {
    width: 80%;
}

#shape > label{
    align-self: left;
    text-align: left;
    margin-top: 1px;
}

#shape > label > span {
    margin-right: 10px;
}

.colorcontrol {
    width: 80%;
    text-align: left;
    align-content: right;
    height: 38px;
}

/*#colorP {
    height:10px;
    width: 80%;
    text-align: right;
    align-content: right;
}*/

#colorPicker {
    width: 80px;
    height: 25px; 
     
}

#colorDiv > p {
    float: left;
    color: lightgrey;
    margin-right: 40px;
    margin-left: 20px;
}

#thickness {
    width: 70%;
    margin-left: 5px;
    display: inline-block;
    float: left;
}

#thick {
    font-size: 10px;
    color: white;
    float:left;
}

#thicknessP{
    margin-left: 20px;
    color: lightgrey;
}

#sliderDiv > p {
    margin-left: 20px;
    color: lightgrey;
    text-align: left;
}

#amount {
    width: 20px;
    border: 0px;
    color: lightgray;
    background: transparent;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.range-slider__range {
    width: 80%;
}