body {
    margin: 0px;
    overflow: hidden;
}

#myCanvas {
    width: auto;
    display: block;
}

.container {
    margin: 0;
}

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  text-align: center;
}

#toolbar > h1{
    padding-top: 15px;
    color: lightgrey;
    font-size: 30px;
}

#toolbar > hr  {
    margin-top: 20px;
    border-color: #484747;
}

#shape {
    width: 80%;
}

#shape > label{
    align-self: left;
    text-align: left;
    margin-top: 1px;
}

#shape > label > span {
    margin-right: 10px;
}

#clearCanvas {
    width: 80%;
    margin-left: 20px;

}

#clearCanvas > label{
    align-self: left;
    text-align: left;
    margin-top: 1px;
}

#clearCanvas > label > span {
    margin-right: 10px;
}

#clearBtn {
    padding: 6px 23px;
}

#textProperty {
    margin-left: 0px;
    margin-right: 5px;
    color: lightgrey;
    align-self: left;
    margin-right: 78px;
    
}

.colorcontrol {
    width: 80%;
    text-align: left;
    align-content: right;
    height: 38px;
}

#colorPicker {
    width: 80px;
    height: 25px; 
     
}

#colorDiv > p {
    float: left;
    color: lightgrey;
    margin-right: 40px;
    margin-left: 20px;
}

#lineWidth {
    width: 65%;
    margin-left: 20px;
    display: inline-block;
    float: left;
}

#lineWidthP{
    margin-left: 0px;
    margin-right: 5px;
    color: lightgrey;
    
}

#sliderDiv > p {
    margin-left: 20px;
    color: lightgrey;
    text-align: left;
}

#undoButtons {
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-bottom: 60px;
}

#undoBtn {
    float: left;
}

#redoBtn {
    float: right;
}

#fontPicker > p {
    color: lightgray;
    float: left;
    margin-left: 20px;
    padding-top: 5px;
}

#fontSize > p {
    color: lightgray;
    float: left;
    clear: both;
    margin-left: 20px;
    padding-top: 8px;
}

#defaultColors {
    width: 100%;
    float: left;
}
#defaultColors > button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    
}

#defaultColors > .red{
    background-color: red;
    border: 1px solid white;
}
#defaultColors > .black{
    background-color: black;
    border: 1px solid white;
}

#defaultColors > .green{
    background-color: green;
    border: 1px solid white;
}

#defaultColors > .blue{
    background-color:blue;
    border: 1px solid white;
}

#fontP {
    width: 60%;
    height: 30px;
}

#fontS {
    margin-top: 10px;
    width: 60%;
    height: 30px;
}

#saveBtn, #loadBtn {
    width: 80%;
    align-self: center;
    margin-top: 1px;
}

#saveBtn > span {
    margin-right: 5px;
}

#box {
    padding-top: 10px;
}

#txt {
    resize: none;
    padding: 5px 5px;

}